.register-body {   
  border: 1px solid #ced4da;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}
#registrationForm {
  display: flex;
  flex-direction: column;
}